.table-auto{
    text-align: center;
    border-collapse: separate;
    border-spacing: 20px;
    border: 2px solid #ffffff;
    color: azure;
}
footer{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: linear-gradient(to left, #1e8dcd, #073788); /* Gradiente de naranja a amarillo */
}